#get_exemple,
#add_exemple,
#edit_exemple,
#delete_exemple,
#add_form,
#add_form_ts,
#edit_form_ts,
#edit_form {
    height: 400px;
    font-size: 14px;
}

#json_add,
#json_edit,
#json_delete {
    height: 250px;
    font-size: 14px;
}

#json_delete {
    height: 200px;
}